<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goood! NCraft - Battleship wars !</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Goood!</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@

    <script type="text/javascript">
    $(function () {
        setInterval(function () {
            $("#mainContainer").load("/Home/GetScores");
        }, 3000);
    })
    </script> 
</body>
</html>
